@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans:wght@400;800&display=swap');

/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #777;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555;
}

#logo {
  font-size: 260%;
  float: left;
}

#logo,
#menu {
  line-height: 75px;
  margin: 0 auto;
}

#menu {
  font-size: 110%;
  list-style: none;
  letter-spacing: 4px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777;
}

.active {
  border-bottom: 1px solid #777;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forward;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#cover-text h2 {
  color: #fff;
  margin-bottom: 20px
}

#cover-text {
  color: #fff;
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(241, 109, 107, 0.7);

  position: absolute;
  bottom: 30px;
  right: 50px;
}

#club-ethos {
  height: 600px;
}

#club-ethos h2 {
  text-align: center;
  font-size: 200%;
  margin: 50px 0;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
  text-align: right;
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

.about-heading {
  width: 60%;
  float: right;
  clear: both;
  margin-bottom: 50px;
}

.left-about-heading {
  float: right;
  padding-right: 40px;
}

.right-about-heading {
  float: left;
  padding-left: 40px;
}

hr {
  border-top: 1px solid #777;
  width: 100%;
  margin: 10px 0;
}

#circle {
  width: 300px;
  height: 300px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

#bg {
  background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") center center;
  height: 100%;
  border-radius: 50%;
}

#times {
  height: 300px;
  background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png") no-repeat center center;
  width: 100%;
  overflow: hidden;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  width: 18.8%;
  height: 300px;
  float: left;
  padding: 30px 5px 0;
  text-align: center;
  margin: 2px;
  line-height: 30px;
}

#times h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

footer {
  height: 150px;
  margin-top: 75px;
}

#icons {
  text-align: center;
}

#icons li {
  display: inline;
  font-size: 30px;
  margin: 0 40px;
}

#icons a {
  color: #777;
}

#photos {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#photos img {
  width: 100%;
}